<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Товары</title>
</head>
<body>
    <div>
        <h3>Магазин компьютеров</h3>
        <form method="post" action="{% url 'apply_promo' %}">
            {% csrf_token %}
            <p>
                <label for="id_code">Промокод:</label>
                <input type="text" name="code" maxlength="20" id="id_code" />
                <button type="submit">Применить</button>
            </p>
        </form>

        {% if request.session.promo_code %}
            <p>Промокод <strong>{{ request.session.promo_code }}</strong> применён. Доступны дополнительные товары.</p>
        {% endif %}

        <h3>Список</h3>
        <table>
            <tr>
                <td><p>Наименование</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            {% for p in products %}
                <tr>
                    <td><p>{{ p.name }}</p></td>
                    <td><p>{{ p.price }}</p></td>
                    <td><p><a href="/buy/{{ p.id }}">Купить</a></p></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
